<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.scbs.kastelEditor2PCM.handler.KastelEditor2PCMHandler"
            id="edu.kit.kastel.scbs.kastelEditor2PCM.processKastelGoalModelingEditorFile"
            name="Process KASTEL Goal Editor File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.kastel.scbs.kastelEditor2PCM.beforeseparator"
               visible="true">
         </separator>
         <menu
               id="kastelGoalModelImport"
               label="KASTEL Goal Model Import">
            <command
                  commandId="edu.kit.kastel.scbs.kastelEditor2PCM.processKastelGoalModelingEditorFile"
                  label="Process Kastel Goal Model"
                  style="push"
                  tooltip="Process a Model of the KASTEL Goal Editor">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="*.json">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="edu.kit.kastel.scbs.kastelEditor2PCM.afterseparator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
